altgraph>=0.17.4
certifi>=2023.7.22
charset-normalizer>=3.3.2
click>=8.1.7
Flask>=2.3.3
Flask-SQLAlchemy>=3.1.1
greenlet>=3.0.3
idna>=3.6
itsdangerous>=2.1.2
Jinja2>=3.1.4
lxml>=4.9.4
macholib>=1.16.3
MarkupSafe>=2.1.5
multitasking>=0.0.11
numpy>=1.26.4
pandas>=2.1.4
psycopg2-binary>=2.9.9
pyinstaller>=6.3.0
pyinstaller-hooks-contrib>=2023.10
python-dateutil>=2.8.2
pytz>=2023.3
requests>=2.31.0
schedule>=1.2.1
six>=1.16.0
SQLAlchemy>=2.0.25
TA-Lib>=0.4.28
urllib3>=2.1.0
waitress>=2.1.2
Werkzeug>=3.0.1
yfinance>=0.2.33
